.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fe3072;
  font-size: 18px;
  font-weight: 700;
  padding: 18px 22px;
  border-radius: 10px;
  border: none;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: #ce1a53;
  color: #fff;
  transform: scale(1.05);
}